@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br/>
<h2>
    Rules of the game
</h2>
<p>
    As a user, you can create lobbies, as well as delete them. Once 5 people are in, the game starts. You are given a word from a random set and you have 90 seconds to draw it. Once the time runs out, you can vote for <strong>ONE</strong> of the photos. The drawing with the most points is declared as a winner.
</p>
